# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://serafim:serafim@localhost:5432/saas-digital?schema=public"

JWT_SECRET=secret-digital-mentores-serafim

GITHUB_OAUTH_CLIENT_ID=Ov23lioeLrB0X9xJPjKb
GITHUB_OAUTH_CLIENT_SECRET=7bf371cb0a164e3214d4d9fab07ad8eb970de8e4
GITHUB_OAUTH_CLIENT_REDIRECT_URI='http://localhost:3000/api/auth/callback'
uri="https://github.com/login/oauth/authorize?client_id=Ov23lioeLrB0X9xJPjKb&redirect_uri=http://localhost:5173/api/auth/callback&scope=user:email"